# -----------------------------------------------------------------------------
### pandas dataframe apply vs transform - apply works with a dataframe, transform with a column, a series
# ------------------------------------------------------------------------------

In [24]:
import pandas as pd
import numpy as np

In [25]:
import matplotlib as mpl

In [26]:
adf = pd.DataFrame({'country':['India', 'USA', 'Germany', 'India', 'USA', 'Germany'], 'year':[2018, 2018, 2018, 2019, 2019, 2019], 'popmn': [1290,325,82,1300,331,83], 'gdpmnusd': [2600, 24500, 4650,2650, 25000, 4700]})

# Apply vs Transform

In [27]:
adf

   country  year  popmn  gdpmnusd
0    India  2018   1290      2600
1      USA  2018    325     24500
2  Germany  2018     82      4650
3    India  2019   1300      2650
4      USA  2019    331     25000
5  Germany  2019     83      4700

In [28]:
adf.apply(lambda x: x[2]/x[1], axis=1)

0    0.639247
1    0.161051
2    0.040634
3    0.643883
4    0.163943
5    0.041109
dtype: float64

In [29]:
adf.groupby('country').apply(lambda x: x['gdpmnusd'] / x['popmn'])

country
Germany  2    56.707317
         5    56.626506
India    0     2.015504
         3     2.038462
USA      1    75.384615
         4    75.528701
dtype: float64

In [30]:
adf.groupby('country').transform(lambda x: x['gdpmnusd'] / x['popmn'])

KeyError: 'gdpmnusd'

In [31]:
adf.groupby(['country', 'year'])['popmn'].transform(lambda x: sum(x) + 10)

0    1300
1     335
2      92
3    1310
4     341
5      93
Name: popmn, dtype: int64

In [32]:
grpdser = adf.groupby('country').apply(lambda x: x['gdpmnusd'] / x['popmn'])

In [33]:
grpdser.array[0]

56.707317073170735

In [34]:
grpdser.index[0][0]

'Germany'

In [35]:
[x[0] for x in grpdser.index]

['Germany', 'Germany', 'India', 'India', 'USA', 'USA']

In [36]:
[x for x in zip([x[0] for x in grpdser.index], grpdser.array)]

[('Germany', 56.707317073170735),
 ('Germany', 56.626506024096386),
 ('India', 2.0155038759689923),
 ('India', 2.0384615384615383),
 ('USA', 75.38461538461539),
 ('USA', 75.52870090634441)]

# Append vs Concat

In [37]:
data2append = ['Thailand', 2018, 140, 512]
dtaseries = pd.Series(data2append)

In [38]:
adf.append(dtaseries,ignore_index=True)

   country    year   popmn  gdpmnusd         0       1      2      3
0    India  2018.0  1290.0    2600.0       NaN     NaN    NaN    NaN
1      USA  2018.0   325.0   24500.0       NaN     NaN    NaN    NaN
2  Germany  2018.0    82.0    4650.0       NaN     NaN    NaN    NaN
3    India  2019.0  1300.0    2650.0       NaN     NaN    NaN    NaN
4      USA  2019.0   331.0   25000.0       NaN     NaN    NaN    NaN
5  Germany  2019.0    83.0    4700.0       NaN     NaN    NaN    NaN
6      NaN     NaN     NaN       NaN  Thailand  2018.0  140.0  512.0

In [39]:
adf.append(pd.DataFrame(dtaseries).T, ignore_index=True)

          0     1    2    3  country  gdpmnusd   popmn    year
0       NaN   NaN  NaN  NaN    India    2600.0  1290.0  2018.0
1       NaN   NaN  NaN  NaN      USA   24500.0   325.0  2018.0
2       NaN   NaN  NaN  NaN  Germany    4650.0    82.0  2018.0
3       NaN   NaN  NaN  NaN    India    2650.0  1300.0  2019.0
4       NaN   NaN  NaN  NaN      USA   25000.0   331.0  2019.0
5       NaN   NaN  NaN  NaN  Germany    4700.0    83.0  2019.0
6  Thailand  2018  140  512      NaN       NaN     NaN     NaN

In [40]:
pd.concat([adf, pd.DataFrame(dtaseries).T], ignore_index=True)

          0     1    2    3  country  gdpmnusd   popmn    year
0       NaN   NaN  NaN  NaN    India    2600.0  1290.0  2018.0
1       NaN   NaN  NaN  NaN      USA   24500.0   325.0  2018.0
2       NaN   NaN  NaN  NaN  Germany    4650.0    82.0  2018.0
3       NaN   NaN  NaN  NaN    India    2650.0  1300.0  2019.0
4       NaN   NaN  NaN  NaN      USA   25000.0   331.0  2019.0
5       NaN   NaN  NaN  NaN  Germany    4700.0    83.0  2019.0
6  Thailand  2018  140  512      NaN       NaN     NaN     NaN

In [41]:
d2adict = dict(zip(adf.columns, data2append))

In [42]:
adf.append(d2adict, ignore_index=True)

    country  year  popmn  gdpmnusd
0     India  2018   1290      2600
1       USA  2018    325     24500
2   Germany  2018     82      4650
3     India  2019   1300      2650
4       USA  2019    331     25000
5   Germany  2019     83      4700
6  Thailand  2018    140       512

In [43]:
pd.DataFrame([d2adict])

    country  year  popmn  gdpmnusd
0  Thailand  2018    140       512

In [44]:
pd.concat([adf, [d2adict]])

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [45]:
pd.concat([adf, pd.DataFrame([d2adict])])

    country  year  popmn  gdpmnusd
0     India  2018   1290      2600
1       USA  2018    325     24500
2   Germany  2018     82      4650
3     India  2019   1300      2650
4       USA  2019    331     25000
5   Germany  2019     83      4700
0  Thailand  2018    140       512

In [46]:
mltpl_data = []
mltpl_data.append(data2append)
mltpl_data.append(['Thailand', 2019, 141, 515])
mltpl_data

[['Thailand', 2018, 140, 512], ['Thailand', 2019, 141, 515]]

In [47]:
mltpl_data_dict = [dict(zip(adf.columns,x)) for x in mltpl_data]

In [48]:
adf.append(mltpl_data_dict, ignore_index=True)

    country  year  popmn  gdpmnusd
0     India  2018   1290      2600
1       USA  2018    325     24500
2   Germany  2018     82      4650
3     India  2019   1300      2650
4       USA  2019    331     25000
5   Germany  2019     83      4700
6  Thailand  2018    140       512
7  Thailand  2019    141       515

In [49]:
pd.DataFrame(mltpl_data_dict)

    country  year  popmn  gdpmnusd
0  Thailand  2018    140       512
1  Thailand  2019    141       515

In [50]:
pd.concat([adf, pd.DataFrame(mltpl_data_dict)])

    country  year  popmn  gdpmnusd
0     India  2018   1290      2600
1       USA  2018    325     24500
2   Germany  2018     82      4650
3     India  2019   1300      2650
4       USA  2019    331     25000
5   Germany  2019     83      4700
0  Thailand  2018    140       512
1  Thailand  2019    141       515

In [51]:
mnth = [1,2,1,2,1,2]

In [52]:
pd.Series(mnth, name='mnth')

0    1
1    2
2    1
3    2
4    1
5    2
Name: mnth, dtype: int64

In [53]:
pd.concat([adf, pd.Series(mnth)], axis=1)

   country  year  popmn  gdpmnusd  0
0    India  2018   1290      2600  1
1      USA  2018    325     24500  2
2  Germany  2018     82      4650  1
3    India  2019   1300      2650  2
4      USA  2019    331     25000  1
5  Germany  2019     83      4700  2

In [54]:
adf.insert(3, 'mnth', mnth )

In [55]:
adf

   country  year  popmn  mnth  gdpmnusd
0    India  2018   1290     1      2600
1      USA  2018    325     2     24500
2  Germany  2018     82     1      4650
3    India  2019   1300     2      2650
4      USA  2019    331     1     25000
5  Germany  2019     83     2      4700

# list.sort vs sorted

In [215]:
alist = [('raman', 25, 'A'), ('raman', 28, 'B'), ('raman', 23, 'C'), ('raman', 25, 'D'),('shaman', 25, 'A'), ('shaman', 28, 'B'), ('shaman', 23, 'C'), ('shaman', 25, 'D'), ('shaman', 28, 'D')]

In [216]:
alist.sort(key=lambda x: x[1], reverse=True)
alist.sort(key = lambda x: x[0],reverse=True)
alist.sort(key = lambda x: x[2], reverse=True)

In [217]:
alist

[('shaman', 28, 'D'),
 ('shaman', 25, 'D'),
 ('raman', 25, 'D'),
 ('shaman', 23, 'C'),
 ('raman', 23, 'C'),
 ('shaman', 28, 'B'),
 ('raman', 28, 'B'),
 ('shaman', 25, 'A'),
 ('raman', 25, 'A')]

In [224]:
sorted(
    sorted(
    sorted(alist, key=lambda x: x[1], reverse=True), key=lambda x: x[0], reverse=True),
    key=lambda x: x[2], reverse=True
)

[('shaman', 28, 'D'),
 ('shaman', 25, 'D'),
 ('raman', 25, 'D'),
 ('shaman', 23, 'C'),
 ('raman', 23, 'C'),
 ('shaman', 28, 'B'),
 ('raman', 28, 'B'),
 ('shaman', 25, 'A'),
 ('raman', 25, 'A')]

# Datafrane Schema

In [4]:
# lets load the nse cash market data for dataframe aggregations
import os
list4df = []
data_location = 'D:/findataf/cm_sample_data'
for x in os.walk(data_location):
    for y in x[2]:
        fpath = os.path.join(data_location, y)
        tdf = pd.read_csv(fpath, header=0)
        list4df.append(tdf)

stocks_df = pd.concat(list4df)
print(stocks_df.shape)

(37344, 14)

In [9]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]
df = pd.DataFrame(a, columns=['fc', 'sc', 'tc'])

In [10]:
df

  fc   sc    tc
0  a  1.2   4.2
1  b   70  0.03
2  x    5     0

In [23]:
for x in df.columns:
    print('column name {0}, its type {1}'.format(x, df[x].dtype))

column name fc, its type object
column name sc, its type float32
column name tc, its type float32

In [17]:
pd.to_numeric(df['sc'])

0     1.2
1    70.0
2     5.0
Name: sc, dtype: float64

In [18]:
pd.to_numeric(df['sc'], errors='coerce')

0     1.2
1    70.0
2     5.0
Name: sc, dtype: float64

In [19]:
pd.to_numeric(df['sc'], errors='coerce', downcast='float')

0     1.2
1    70.0
2     5.0
Name: sc, dtype: float32

In [14]:
df[['sc', 'tc']] = df[['sc', 'tc']].apply(lambda x: pd.to_numeric(x))

In [15]:
df

  fc    sc    tc
0  a   1.2  4.20
1  b  70.0  0.03
2  x   5.0  0.00

In [21]:
df[['sc', 'tc']] = df[['sc', 'tc']].apply(lambda x: pd.to_numeric(x, errors='coerce', downcast='float'))

In [22]:
df

  fc    sc    tc
0  a   1.2  4.20
1  b  70.0  0.03
2  x   5.0  0.00